<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':!item, 'active':(item && item.fontWeight=='bold')}"
  (click)="toggleStyle('fontWeight')"><b>B</b></button>
<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':!item, 'active':(item && item.fontStyle=='italic')}"
  (click)="toggleStyle('fontStyle')"><i>I</i></button>
<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':!item, 'active':(item && item.textDecoration=='underline')}"
  (click)="toggleStyle('textDecoration')"><u>U</u></button>

<div class="btn-group dropup">
  <button class="btn btn-sm" [ngClass]="{'disabled':!item}" [ngStyle]="{'color': item? item.color : '#a8a8a8'}"><b>color</b></button>
  <button class="btn btn-sm dropdown-toggle" [ngClass]="{'disabled':!item}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <card-color-picker (colorSelected)="setColor($event)"></card-color-picker>
  </ul>
</div>
