<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':!item, 'active':(item && item.fontWeight=='bold')}"
  (click)="toggleStyle('fontWeight')"><b>B</b></button>
<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':!item, 'active':(item && item.fontStyle=='italic')}"
  (click)="toggleStyle('fontStyle')"><i>I</i></button>
<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':!item, 'active':(item && item.textDecoration=='underline')}"
  (click)="toggleStyle('textDecoration')"><u>U</u></button>
